
body {
  background-color: black;
  text-align: center;
  font-family: Verdana,sans-serif;
  color: White
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  text-align: center;

}
.class {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px
}

h3 {
font-size: 21px;
color: gray;
}

.footer {
  text-align: right;
  color: gray;
}
