
body {
  background-color: black;
  text-align: center;
  font-family: Verdana,sans-serif;
  color: White
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;

}
.class {
  color: Aquamarine;
  font-size: 16px;
}

h2 {

}
